extends layout

block content
    div.wrap
        div.container
            div.preview
                p  Love is ...
                div.names-container
                    p
                        strong #{eventInfo.bride.name} #{eventInfo.bride.surname} #{eventInfo.bride.fathername}
                    p and
                    p
                        strong #{eventInfo.groom.name} #{eventInfo.groom.surname} #{eventInfo.groom.fathername}
                    img.preview--img(src='http://f.fenglish.ru/images/loveis/55.jpg')
                    p #{eventInfo.message}
                    p ... invite you to our wedding
            div.invite-info
                p witch will be on
                    strong #{eventInfo.date}  at #{eventInfo.time}
                p in
                    strong #{eventInfo.address}

                p your email #{guest.email}
                p will you come?
                p
                    strong #{guest.name} #{guest.surname} #{guest.fathername}